@media (prefers-color-scheme: light) {
  nav ul li {
    list-style: none;
  }

  nav ul li a:hover {
    background-color: lightblue; /* Change background color on hover */
  }

  .active {
    background-color: rgb(15, 13, 13); /* Change background color on hover */
  }
}

@media (prefers-color-scheme: dark) {
  nav ul li {
    list-style: none;
  }

  nav ul li a:hover {
    background-color: lightblue; /* Change background color on hover */
  }

  .active {
    background-color: rgb(106, 6, 6); /* Change background color on hover */
  }
}
